<style type="text/css">
	@font-face{
		font-family:"造字工房尚黑 G0v1 细体"；
		src:url(font/shangHei.eot);
		src:url(font/shangHei.otf);
		src:url(font/shangHei.woff) format('woff');
		src:url(font/shangHei.ttf) format('truetype');
		src:url(font/shangHei.svg) format('svg');
	} 
	h1 {font-family:"造字工房尚黑 G0v1 细体"}
	p{font-size:'40px'}
	.fileinput-button{
		position:relative;
		display:inline-block;
		overflow:hidden;
	}
	.fileinput-button input{
		position:absolute;
		right:0px;
		top:0px;
		opacity:0;
		-ms-filter:'alpha(opacity=0)';
	}
</style>