<style type="text/css">
	@font-face {
				font-family:'jingHei';
				src: url(E:\软工课设\lineaner regression\public\font/arial.ttf);
			}
	.jingHei {
		font-family: 'jingHei';
				font-size: 50px;
				text-shadow: none;
	}
</style>